<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Psn price</th>
      <th>Amazon price</th>
      <th>Title</th>
      <th>Psn</th>
      <th>Region</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.psn_price %></td>
        <td><%= game.amazon_price %></td>
        <td><%= game.title %></td>
        <td><%= game.psn_id %></td>
        <td><%= game.region %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
